<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrinko EMHR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <!-- Navigation -->
    <header class="position-sticky fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Shrinko</a><span id="emhr" class="text-capitalize">Electronic Mental Health Records</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <form class="form-inline my-0 my-lg-0 mx-auto">
            <input class="form-control" type="text" placeholder="Search Clients" id="search-clients">
            <button class="btn" type="submit" id="btn-search"><i class="fa fa-search"></i></button>
          </form>
          <ul class="navbar-nav ml-auto">
            {{#if admin_access}}
            <li class="nav-item">
              <a class="nav-link" href="/clients">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Users</a>
            </li>
            <li class="nav-item">
              <div class="nav-link" id="logout">Logout</div>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <div class="nav-link" id="logout">Logout</div>
            </li>
            {{/if}}
            {{#unless loggedIn}}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            {{/unless}}
          </ul>
        </div>
      </nav>
    </header>

    <!-- Main Content -->
    <main class="container">
      <div class="row py-2">
        {{{ body }}}
      </div>
    </main>
 
    <!-- Footer -->
    <footer class="row d-block text-center mt-5">
    <hr>
    <div class="py-3">&copy;The Shrinko Project</div>
    </footer>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>