<div class="container my-3">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Diagnosis Code</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each diagnosis}}
      <tr>
        <td>{{dx_name}}</td>
        <td>{{dx_code}}</td>
        <td>{{dx_desc}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>