<div class="container my-3">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each documents}}
      <tr>
        <td>{{ document_name }}</td>
        <td>{{ document_desc }}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>