<article class="row d-block w-100 mt-5">
  <form id="edit-user">
    {{> user-form user }}
    <button type="submit" class="mt-4 btn btn-general btn-block text-white shadow">Save</button>
  </form>
</article>

<script src="/js/edit-user.js"></script>